alacritty/alacritty.toml
alsa/*.bin
dconf
elinks/*hist
elinks/bookmarks
elinks/mouse.lock
elinks/socket*
fontconfig/fonts.conf
fontforge
foot/foot.ini
gh
gimp
gitconfig
glib-2.0/
gtk-2.0
ion
mpv/libplacebo.cache
mpv/mpv_sub-delay.json
mpv/watch_later
nvim/colors/.theme_name
nvim/nvim-qt.conf
pulse/
qBittorrent/
river/theme
transmission/bandwidth-groups.json
transmission/blocklists
transmission/dht.dat
transmission/resume
transmission/settings.json
transmission/torrents
vim/*.un~
vim/.netrwhist
waybar/style.css
window-geometry.conf
yambar/config.yml
zathura/zathurarc
