gh
dconf
fontforge
gimp
gtk-2.0
ion
gitconfig
fontconfig/fonts.conf
elinks/bookmarks
elinks/*hist
elinks/mouse.lock
elinks/socket*
foot/foot.ini
nvim/nvim-qt.conf
nvim/colors/.theme_name
river/theme
zathura/zathurarc
mpv/watch_later
mpv/mpv_sub-delay.json
mpv/libplacebo.cache
window-geometry.conf
transmission/torrents
transmission/resume
transmission/settings.json
transmission/dht.dat
transmission/bandwidth-groups.json
qBittorrent/
pulse/
glib-2.0/
vim/.netrwhist
waybar/style.css
vim/*.un~
yambar/config.yml
